@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url(http://weloveiconfonts.com/api/?family=entypo);

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 0 80px 0;
    padding: 0;
}

h1,
h2,
h3,
th {
    font-family: 'Roboto Serif', serif;
}

header {
    background-color: #002333;
}

nav {
    padding: 15px 0 15px 25px;
}

.site-name {
    font-family: 'Roboto Serif', serif;
    font-weight: 700;
    font-size: 2.5em;
}

.site-name a:hover {
    text-decoration: none;
}

.nav ul {
    display: grid;
    grid-template-columns: 200px 120px 120px 120px;
    justify-items: center;
    align-items: center;
    padding: 0;
}

.nav ul li {
    list-style-type: none;
}

.nav-item {
    padding-top: 10px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 25px;
    margin-bottom: 60px;
}

p {
    max-width: 960px;
}

a {
    text-decoration: none;
    color: #159A9C;
}

a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.ghost-button {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #159A9C;
    border: 1px solid #159A9C;
    border-radius: 5px;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: #FFFFFF;
}

.ghost-button:hover,
.ghost-button:active {
    background-color: #159A9C;
    color: #FFFFFF;
    text-decoration: none;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-family: sans-serif;
    width: 100%;
}

.styled-table thead tr {
    background-color: #159A9C;
    color: #FFFFFF;
    text-align: center;
}

.styled-table th {
    font-weight: bold;
}

.styled-table th,
.styled-table td {
    padding: 15px;
}


.date {
    text-align: center;
}

.styled-table td:last-of-type {
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #B4BEC9;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #DEEFE7;
}


.styled-table tr:first-child th:first-child {
    border-top-left-radius: 5px;
}

.styled-table tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

.completed {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

form {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    border: 2px solid #159A9C;
}

input[type="text"],
input[type="password"],
select,
textarea {
    font: 1rem / 1.2 sans-serif;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 0.75rem;
    outline-color: #159A9C;
}

footer {
    padding: 30px 15px 25px 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #B4BEC9;
    color: #FFFFFF;
    text-align: center;
}

[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
    color: red;
    padding: 0 2px;
}
