{% extends 'base.html' %}

{% block title %}
    My Tasks - Tracker
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if tasks|length != 0 %}
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <!-- This is already being filtered to user in the view -->
                            <tr {% if task.is_completed == True %}class="completed"{% endif %}>
                                <td>{{ task.name }}</td>
                                <td class="date">{{ task.start_date|date:"F j, Y" }}</td>
                                <td class="date">{{ task.due_date|date:"F j, Y" }}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
