{% extends 'base.html' %}

{% block title %}
    {{ project.name }} - Tracker
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ project.name }}</h1>
            <p>{{ project.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}" class="ghost-button">Create a new task</a>
            </p>
            {% if project.tasks.all|length != 0 %}
                <table class="styled-table">
                    <thead>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </thead>
                    <tbody>
                        {% for task in project.tasks.all %}
                            <tr {% if task.is_completed == True %}class="completed"{% endif %}>
                                <td>{{ task.name }}</td>
                                <td>{{ task.assignee }}</td>
                                <td class="date">{{ task.start_date|date:"F j, Y" }}</td>
                                <td class="date">{{ task.due_date|date:"F j, Y" }}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
