{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <header>
      <nav class="nav">
        <ul>
          <li class="site-name"><a href="{% url 'list_projects' %}">Tracker <span class="entypo-check"></span></a></li>
          {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
            <li class="nav-item"><a href="{% url 'list_projects' %}">My projects</a></li>
            <li class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li class="nav-item"><a href="{% url 'login' %}">Login</a></li>
            <li class="nav-item"><a href="{% url 'signup' %}">Signup</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
      Made with <span class="entypo-heart"></span> in Western MA
    </footer>
  </body>
</html>
